@using TestExercise.Models.ViewModels;
@model OrderListViewModel
@{
    ViewData["Title"] = "Главная";
    DateTime date1 = Model.DateStart;
    DateTime date2 = Model.DateEnd;
}

<div class="container">
        <form method="post" asp-action="Filter">
        <div class="row justify-content-center">
        <div class="col-3">
                <input type="date" class="form-control" name="date1"  asp-for="DateStart" />
            </div>
        <div class="col-3">
                <input type="date" class="form-control" name="date2" asp-for="DateEnd" />
        </div>
            <div class="col-3">
                <select class="form-select" aria-label="Default select example" name="filter" asp-for="@Model.Filter">
                    <option selected>Сортировка</option>
                    <option value="amount">По количеству</option>
                    <option value="number">По номеру</option>
                    <option value="date">По дате</option>

                </select>
            </div>
        <div class="col-3">
            <button type="submit" class="btn btn-success" >Найти</button>
        </div>
        </div>

        </form>
 

    <a class="btn btn-primary mt-4" asp-controller="Order" asp-action="CreateOrder">Добавить заказ</a>
    <div class="row">
       

        
        <table class="table" >
            <thead>
                <th>Номер</th>
                <th>Дата</th>
                <th>Поставщик</th>
                <th>Кол</th>
                <th></th>
            </thead>
                @foreach (var order in Model.Orders)
                {
                <tbody>
                <td>@order.Number</td>
                
                    <td>@order.Date.Date.ToShortDateString()</td>
                    <td>@order.Provider.Name</td>
                    <td>@order.Items.Count()</td>
                    <td>
                       
                        <div class="btn-group">
                        <form asp-action="Delete" asp-controller="Order" method="post">
                               
                            <a asp-action="Edit" asp-controller="Order" class="btn btn-sm btn-warning"
                               asp-route-id="@order.Id">
                                Изменить
                            </a>
                            <a asp-action="Index" asp-controller="Order" class="btn btn-sm btn-info"
                               asp-route-id="@order.Id">
                                Просмотреть
                            </a>
                            <input type="hidden" name="id" value="@order.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                        </form>
                        
                    </div>
                        </td>
                </tbody>
                }
           
        </table>
        
    </div>
  

  

</div>